:root {
    --link_color:rgb(72, 72, 97);
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

#burger {
    visibility: hidden;
}

#nav_list {
    height: 10vh;
    display: inline;
}

header {
    margin-top: 5vh;
}

.link {
    font-size: 20px;
    color: black;
    margin-left: 5vw;
    cursor: pointer;
    text-decoration: none;
}

.link:hover {
    transition: 500ms;
    color: var(--link_color);
}

#button_portfolio:hover {
    border: 1px solid var(--link_color);
    transition: 500ms;
    color: var(--link_color);
    border-radius: 10px;
}

#about_link {
    margin-left: 55vw;
}

#contact_link {
    background-color: black;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

#contact_link:hover {
    transition: 500ms;
    background-color: white;
    color: black;
}

.dropbtn {
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}
  
.social {
    margin-left: 45vw;
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
 
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.social:hover .dropdown-content {
    display: block;
}
  
.social:hover .dropbtn {
    background-color: var(--link_color);
}
  

#contact_container {
    height: 100vh;
    width: 98.5vw;
    position: fixed;
    visibility: hidden;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9)
}

#contact_card {
    margin-top: 25vh;
    background-color: white;
    height: 50vh;
    width: 49.25vw;
    margin-left: 24.625vw;
    opacity: 1;
}

#contact_title {
    margin-left: 45%;
    margin-top: 2vh;
}

#contact_header {
    width: 49.25vw;
    display: flex;
    height: 10vh;
}

#contact_body {
    width: 49.25vw;
    height: 40vh;
}

#contact_email {
    margin-left: 14vw;
    font-size: large;
}

#contact_phone {
    margin-left: 17vw;
    margin-top: 5vh;
}

#contact_resume_download {
    margin-top: 5vh;
    margin-left: 17.5vw;
}

#contact_cover_letter {
    margin-top: 5vh;
    margin-left: 16vw;
}

#times {
    font-size: medium;
    margin-top: 1vh;
    margin-left: 36%;
    height: 4vh;
    border: none;
    cursor: pointer;
}

#container {
    display: flex;
}

#about {
    height: 90vh;
    width: 50vw;
}

#title {
    margin-left: 10vw;
    margin-top: 35vh;
}

#p1 {
    margin-left: 9vw;
    font-size: 28px;

}

#p2 {
    margin-left: 9vw;
    font-size: 28px;
}

#p3 {
    margin-left: 10vw;
    margin-bottom: 10vh;
}

#button_portfolio {
    margin-left: 15vw;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 5px;
}

#recent {
    width: 50vw;
}

#recent_title {
    margin-top: 20vh;
    margin-bottom: 5vh;
}

#recent_container_project {
    padding-top: 2vh;
    width: 30vw;
    height: 20vw;
    margin-left: 3vw;
}

#recent_project {
    margin-left: 5vw;
    width: 20vw;
    height: 15vw;
    background-color: white;
    margin-bottom: 2vh;
}
.recent_img {
    width: 20vw;
}

.recent_link {
    color: black;
    text-decoration: none;
    border: 1px solid var(--link_color);
    border-radius: 10px;
    padding: 4px;
}

#recent_code {
    margin-left: 10vw;
}

#resume_contain, #portfolio_container{
    height: 100vh;
    width: 98.5vw;
}

#resume_container {
    display: flex;
}

#skills {
    width: 50vw;
    height: 100vh;
}

#skills_header {
    font-size: 20px;
    margin-top: 20vh;
    margin-left: 30%;
}

#skills_body {
    margin-left: 20.5vw;
}

.line {
    padding-top: 5px;
}

#certificates {
    width: 50vw;
}

#header_resume {
    margin-top: 20vh;
}

#portfolio_header {
    margin-left: 45vw;
    margin-top: 20vh;
    font-size: 28px;
}

#portfolio_body_container {
    margin-left: 15vw;
    margin-right: 15vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.project {
    background-color: #ddd;
    margin: 10px;
    height: 50%;
    width: 35vw;
    height: 50vh;
}

.project_heading {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 20px;
}

.project_image {
    height: 30vh;
    width: 30vw;
    margin-top: 20px;
    background-color: blue;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-bottom: 10px;
}

.project_image_size {
    height: 30vh;
    width: 30vw;
}

.code_project {
    margin-top: 10px;
    margin-left: 35%;
    border: 1px solid blue;
    cursor: pointer;
}

.live_project, .code_project {
    border: 1px solid blue;
    cursor: pointer;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
}

#bad_project {
    display: none;
}

#good_project {
    display: none;
}

#ok_project {
    display: none;
}

@media (max-width: 600px) {

    #burger {
        width: 100vw;
        bottom: 0;
        left: 0;
        position: fixed;
        cursor: pointer;
        font-size: 3em;
        border: none;
        display: inline;
        visibility: visible;
    }

    #title {
        margin-top: 1vh;
    }

    .social {
        margin-left: 0;
    }

    #contact_link {
        background-color: white;
        border: none;
        margin: 0;
        padding: 0;
        display: inline;
        color: black;
        width: 40vw;
        margin-left: 32vw;
        margin-top: 5vh;
    }

    .link {
        margin-left: 33vw;
        display: inline;
        font-size: 2.5em;
        margin-top: 5vh;

    }

    #about_link {
        margin-left: 0;
    }

    #nav_list {
        position: fixed;
        visibility: hidden;
        width: 100vw;
        height: 84vh;
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .social {
        visibility: hidden;
    }

    #container {
        display: flex;
        flex-direction: column;
    }

    #about {
        width: 100vw;
        height: 100vh;
        margin-bottom: 20vh;
    }

    #recent {
        width: 100vw;
        height: 100vh;
        flex-direction: column;
    }

    #recent_img {
        width: 70vw;
        margin-left: 15vw;
    }

    #portfolio_body_container {
        width: 80vw;
        margin-left: 10vw;
        display: flex;
        flex-direction: column;
    }

    .project {
        width: 80vw;
    }

    .project_image_size {
        width: 80vw;
    }

    #bottom_project {
        padding-bottom: 20vh;
    }
}

